<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title slot="start">
      <span>EPIMS</span>
    </ion-title>

    <ion-buttons>
      <ion-button>
        Home
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>電子部品カテゴリ</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let categoryCard of this.categoryObserver | async">
        <app-category-card [model]="categoryCard" [categoryCount]="12"></app-category-card>
      </ng-container>
    </ion-row>

  </ion-grid>

</ion-content>